# Obsidian
.obsidian/

# Editor symlinks
/images
/content/blogs/images
/content/projects/images

# Hugo build output
/public/
/resources/_gen/

# macOS
.DS_Store

# Editor
*.swp
*.swo
*~

# Hugo
.hugo_build.lock
